#root {
  font-family: "Poppins", serif;
}

.video {
  position: absolute;
  top: 50%;
  height: 100%;
  transform: translate(0, -50%);
  width: 100%;
  transition: 125ms ease-in;
  object-fit: cover;
}

@keyframes swinging {
  0% {
    transform: rotate(-10deg) translate3d(-15px, 0px, 0px);
  }
  100% {
    transform: rotate(10deg) translate3d(15px, 0px, 0px);
  }
}

@keyframes timeLine {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.mouse {
  width: 40px;
  height: 40px;
  transform-origin: center bottom;
  animation-name: swinging;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

.form-input {
  color: #333;
  padding: 10px 10px 10px 0;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #d1d1d1;
  background: transparent;
  outline: none;
  font-family: Inter, sans-serif;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1s;
  width: 100%;
  position: relative;
  &::placeholder {
    color: #333;
  }
  @media (min-width: 1536px) {
    font-size: 18px;
  }
  &:focus {
    border-color: transparent;
  }
}

.navigate-link {
  position: relative;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Poppins, sans-sarif, serif;
  font-size: 14px;
  cursor: pointer;
  padding: 15px 16px;
  font-weight: 600;
}
.navigate-link:hover::after {
  transform: scaleX(1);
}
.navigate-link::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 85%;
  background-color: rgba(255, 255, 255, 1);
  transform: scaleX(0);
  transition: transform 0.1s ease-in;
  left: 6%;
  bottom: 10px;
}

.navigate-link2 {
  width: fit-content;
  padding: 0 0 16px;
  color: #d1d1d1;
}
.navigate-link2::after {
  width: 100%;
  left: 0;
}
