#root {
  font-family: "Poppins", serif;
}

.video {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  transition: 125ms ease-in;
  object-fit: cover;
}

@keyframes swinging {
  0% {
    transform: rotate(-10deg) translate3d(-15px, 0px, 0px);
  }
  100% {
    transform: rotate(10deg) translate3d(15px, 0px, 0px);
  }
}

.mouse {
  width: 40px;
  height: 40px;
  transform-origin: center bottom;
  animation-name: swinging;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
