#root {
  font-family: "Poppins", serif;
}

.video {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  transition: 125ms ease-in;
  object-fit: cover;
}

@keyframes swinging {
  0% {
    transform: rotate(-10deg) translate3d(-15px, 0px, 0px);
  }
  100% {
    transform: rotate(10deg) translate3d(15px, 0px, 0px);
  }
}

@keyframes timeLine {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.mouse {
  width: 40px;
  height: 40px;
  transform-origin: center bottom;
  animation-name: swinging;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

.form-input {
  color: #333;
  padding: 10px 10px 10px 0;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #d1d1d1;
  background: transparent;
  outline: none;
  font-family: Inter, sans-serif;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1s;
  width: 100%;
  position: relative;
  &::placeholder {
    color: #333;
  }
  @media (min-width: 1536px) {
    font-size: 18px;
  }
  &:focus {
    border-color: transparent;
  }
}
